*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:  "Roboto", sans-serif;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
:root{
    --bg-color: #080808;
    --bg-color-bis: #101010;
    --text-color: white;
    --main-color: #243fd6;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}
#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(
        270deg,
        #15ff5b,
        #0828df
    );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #15ff5b,
        #0828df
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--text-color);
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 15rem 10%;
}
.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.accueil-content{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.accueil-content h1{
    font-size: 4.5rem;
    margin-top: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}
.accueil-content h3{
    margin: 1rem 0;
    font-size: 1.7rem;
}
.accueil-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.accueil-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a:nth-last-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-last-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.apropos{
    background: var(--bg-color-bis);
}
.apropos-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.apropos-content h2{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.apropos-ligne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem;
}
.apropos-ligne p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    text-align: justify;
}
.apropos-ligne img{
    background-color: #0828df;
    border-radius: 50%;
    padding: 1rem;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}


.competences{
    background-color: var(--bg-color);
    color: black;
}
.competences h2{
    font-size: 4.5rem;
    text-align: center;
    color: var(--text-color);
    margin: 4rem 0;
}
.competences-contenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.competence-boite{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 250px;
    border-radius: 3rem;
    border: 2px solid transparent;
    background-color: var(--main-color);
    transition: 0.4s ease-in-out;
}
.competence-boite:hover{
    background-color: var(--bg-color-bis);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transform: scale(1.03);
}
.comptence-info li{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
    list-style: none;
}
.comptence-info h4{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}
.comptence-info i{
    font-size: 4rem;
}

.projets{
    background-color: var(--bg-color-bis);
}
.projets h2{
    font-size: 4.5rem;
    text-align: center;
    color: var(--text-color);
    margin: 4rem 0;
}
.projets-contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.projet-boite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 520px;
    width: 350px;
    padding: 2rem;
    border-radius: 3rem;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    transition: 0.4s ease-in-out;
}
.projet-boite:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.03);
}
.projet-boite img{
    width: 320px;
    border-radius: 2rem;
    object-fit: cover;
}
.projet-boite h4{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
}
.projet-boite p{
    font-size: 1.4rem;
    margin: 1rem 0;
    font-weight: 500;
    text-align: justify;
}
.projets-btn-group{
    display: flex;
}
.projets-btn-group a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    margin: 3rem 1rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.projets-btn-group a:hover{
    color: var(--main-color);
    background-color: var(--bg-color-bis);
    border: 2px solid var(--text-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}